<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyOnlineBankingDBEntities" connectionString="metadata=res://*/Models.OnlineBankingModel.csdl|res://*/Models.OnlineBankingModel.ssdl|res://*/Models.OnlineBankingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICS-LT-48QTHT3\SQLEXPRESS;initial catalog=MyOnlineBankingDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>